
<span style="font-weight: bold; border-bottom: 2px; border-bottom-style: solid;">User Detail</span>
<div style="padding-top: 25px;">
	<table class="simpletablestyle">
		<tr>
			<td  style="vertical-align: top; float: right;">ID</td>
			<td><div x-ng-hide="user.id == null">{{user.id}}</div>
			<div x-ng-show="user.id == null">New User</div></td>
		</tr>

		<tr>
			<td  style="vertical-align: top; float: right;">Name</td>
			<td><input data-ng-model='user.name' size="50" /></td>
		</tr>

		<tr>
			<td  style="vertical-align: top; float: right;">eMail</td>
			<td><input data-ng-model='user.email' size="50" /></td>
		</tr>

		<tr>
			<td style="vertical-align: top; float: right;">phone</td>
			<td><input data-ng-model='user.phoneNumber' size="30" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<button data-ng-click='saveUser()' style="float: right">Save</button>
			</td>
		</tr>
	</table>
</div>